
.barchart {
    background: $color-fg;
    padding: 1em;
}

.barchart .bar.ss {
    fill: $color-ss;
}
.barchart .bar.s {
    fill: $color-s;
}
.barchart .bar.a {
    fill: $color-a;
}
.barchart .bar.b {
    fill: $color-b;
}
.barchart .bar.c {
    fill: $color-c;
}
.barchart .bar.d {
    fill: $color-d;
}
.barchart .bar.f {
    fill: $color-f;
}
.barchart .bar.uncategorized {
    fill: $color-x;
}
