.chart-item {
    width: 13em;
    flex: 13em 0;
    margin: 0.25em;
    padding: 0.25em;
    background: $color-bg;
    border: 3px double $color-fg;
    border-radius:0.25em;
    text-align: center;

    
    position:relative;
    overflow:hidden;
}

.chart-item img {
    max-width: 12em;
    max-height: 12em;
    margin: auto;
    text-align: center;
    display: block;
}

.chart-item .icons img {
    flex: 0;
    display: inline-block;
}

.chart-item:before {
    content: "";
    position: absolute;
    top: 8.5em;
    right: -4.5em;
    line-height: 0.5rem;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    background: rgba(0,0,0,0.75);
    border: 3px double $color-bg;
    color: $color-bg;
    padding: 0.5em;
    width: 20em;
    text-align: center;
    font-weight: bold;
}

.chart-item.status-ongoing {
    background: #edf4ff;
}
.chart-item.status-ongoing:before {
    content: "Ongoing";
    background: rgba(47, 61, 109, 0.75);
}

.chart-item.status-hiatus {
    background: #ffeafa;
}
.chart-item.status-hiatus:before {
    content: "Hiatus";
    background: rgba(109, 47, 93, 0.75);
}

.chart-item.status-completed {
    background: #e2ffe5;
}
.chart-item.status-completed:before {
    content: "Completed";
    background: rgba(47, 109, 52, 0.75);
}

.chart-item.status-axed{
    background: #ffe6e6;
}
.chart-item.status-axed:before {
    content: "Axed";
    background: rgba(146, 48, 48, 0.75);
}

.chart-item.status-unknown {
    background: #ddd;
}
.chart-item.status-unknown:before {
    content: "Unknown";
    background: rgba(0, 0, 0, 0.75);
}

.chart-item.missing {
    background: #f0f;
    min-height: 13em;
}

.chart-item.status-hidden, 
.chart-item.demographic-hidden, 
.chart-item.furigana-hidden, 
.chart-item.category-hidden,
.chart-item.sources-hidden,
.chart-item.language-hidden
{
    display: none;
}
