
.chart {
    margin: 1rem 0rem;
    border: 2px solid $color-fg;
    border-spacing: 0;
    width: 100%;
}

.chart tbody th {
    width: 5rem;
    padding: 0.5rem;
    background: #f00;
}
.chart tbody th.ss {
    background: $color-ss;
}
.chart tbody th.s {
    background: $color-s;
}
.chart tbody th.a {
    background: $color-a;
}
.chart tbody th.b {
    background: $color-b;
}
.chart tbody th.c {
    background: $color-c;
}
.chart tbody th.d {
    background: $color-d;
}
.chart tbody th.f {
    background: $color-f;
}
.chart tbody th.uncategorized {
    background: $color-x;
}

.chart tbody td {
    width: auto;
    background: $color-bg url("/tier/bg/dotnoise-light-grey.png");;
    display: flex;
    flex-wrap: wrap;
}

.chart tfoot tr {
    background: $color-fg;
    color: $color-bg;
}
.chart tfoot td {
    border: 0;
    padding: 0.25em 0.5em;
}

.chart td, .chart th {
    border-bottom: 1px solid $color-bg;
}
.chart th {
    border-right: 1px solid $color-bg;
}

.items {
    display: flex;
    flex-wrap: wrap;
}
