section.taxonomy .term {
    background: #fff;
}

#content h1 {
    background: black;
    //background-image: linear-gradient(25deg, #29388d, #b9346c);
    color: #fff;
    padding: 0.25em;
    border-color: white;
    border-style: solid;
    border-width: 0.1em;
    word-wrap: break-word;
    box-shadow: 
        0.15em 0.15em 0 black,
        -0.15em -0.15em 0 black,
        0.15em -0.15em 0 grey,
        -0.15em 0.15em 0 grey;
    text-shadow: 1px 1px 0 grey;
    display: inline-block;
    margin: 1em 0 0.5em;
}

#content > .content {
    background: #fff;
    border: 1px solid black;
    border-radius: 0.25em 0.25em 0 0;
}

#content > .content p {
    margin: 1em 2em;
}

#content > .content h2 {
    margin: 0;
    padding: 0.25em 0.5em;
    background: black;
    color: white;
    border-bottom: 2px dashed white;
}

