body {
    font-family: arial, sans-serif;
    padding: 2rem;
    max-width: 80rem;
    margin: auto;
    background: $color-bg url("/tier/bg/xv.png");
}

a.tag {
    background: hsl(60, 100%, 90%);
    color: $color-fg;
    border: 1px solid $color-fg;
    text-decoration: none;
    padding: 0.125em 0.25em;
    border-radius: 0.25em;
    display: inline-block;
    margin: 0.125em 0em;
}
a.tag::before {
    content: "#";
}
a.tag.world {
    background: hsl(150, 100%, 90%);
}
a.tag.character {
    background: hsl(200, 100%, 90%);
}
a.tag.sexual {
    background: hsl(0, 100%, 90%);
}

ul.inlinelist {
    list-style: none;
}
ul.inlinelist li {
    display: inline-block;
}
ul.inlinelist li:not(:last-of-type)::after {
    content: ","
}

img.cover {
    background: $color-bg;
    padding: 1px;
    border: 1px solid $color-accent;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.25);
}

summary {
    cursor: pointer;
}

table.sortable th {
    cursor: pointer;
}