div.manga-container {
    display: flex;
    margin: 1em;
    justify-content: center;
    align-items: center;
}

div.manga-container > .cover {
    text-align: center;
    margin: 1em;
}

.manga-container > .info {
    margin: 1em;
    border-collapse: collapse;
}

div.manga-container td, div.manga-container th {
    padding: 0.25em 0.5em;
}

div.manga-container th {
    text-align: right;
    background: $color-fg;
    color: $color-bg;
}

div.manga-container ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

div.manga-container li {
    margin-right: 0.25em;
}
