nav.main-nav {
    background: black;
    border: 1px solid black;
    border-bottom: 2px dashed white;
    padding: 0.25em 0.25em 0em 0.5em;
    border-radius: 0.25em 0.25em 0em 0em;
}
nav.main-nav a {
    padding: 0.25em 0.25em;
    display: inline-block;
    font-weight: bold;
}
nav.main-nav a {
    background: black;
    color: white;
}
nav.main-nav a.active {
    background: white;
    color: black;
}
nav.main-nav a:hover {
    background: white;
    color: black;
}

nav.taxonomies-nav {
    background: #fff;
    border: 1px solid black;
    border-top: 0px;
    border-radius: 0 0 0.25em 0.25em
}
nav.taxonomies-nav strong {
    background: black;
    color: #fff;
    margin: 0;
    padding: 0.25em;
}
nav.taxonomies-nav a {
    padding: 0.25em 0.25em;
    display: inline-block;
    font-weight: bold;
}
nav.taxonomies-nav a {
    background: white;
    color: black;
}
nav.taxonomies-nav a.active {
    background: black;
    color: white;
}
nav.taxonomies-nav a:hover {
    background: black;
    color: white;
}
