.screenshot-gallery {
    display: flex;
    flex-flow: wrap;
}

figure {
    background: $color-bg;
    border: 1px solid $color-accent;
    display: inline-block;
    padding: 1px;
    margin: 0.25em;
}

figcaption {
    background: $color-fg;
    color: $color-bg;
    padding: 0.25em;
    text-align: center;
}
