.spoiler {
    background: $color-fg;
    color: $color-fg;
    display: inline-block;
}
.spoiler:hover {
    color: $color-bg;
}

.spoiler::before {
    content: "[spoiler]";
    margin-right: 0.25em;
    color: $color-bg;
}