section.taxonomy {
    display: flex;
    flex-wrap: wrap;
}
section.taxonomy .term {
    border:1px solid $color-fg;
    flex: 1 calc(25% - 4px - 0.5em);
    margin: 0.25em;
}
section.taxonomy .term.tags {
    flex: 1 100%;
}
section.taxonomy .term header {
    background: black;
    display: block;
    padding: .25em;
    border-bottom: 2px solid $color-accent;
    color: $color-bg;
    font-weight: bold;
}
section.taxonomy .term header a {
    color: $color-bg;
    font-weight: bold;
}
section.taxonomy .term ul {
    margin: 0.5em 0.5em;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
section.taxonomy .term ul li {
    margin: 0em .5em;
}

.taxonomy-toggle {
    margin: 0.5em;
    text-align: right;
}

.term.tags li {
    flex: 1 25%;
}

.term li label, .term li input {
    cursor: pointer;
}