$color-bg: white;
$color-fg: black;
$color-accent: grey;

$color-ss: rgb(174, 0, 255);
$color-s: rgb(117, 255, 99);
$color-a: rgb(156, 255, 44);
$color-b: rgb(235, 255, 52);
$color-c: rgb(236, 178, 51);
$color-d: rgb(235, 130, 44);
$color-f: rgb(219, 68, 68);
$color-x: rgb(172, 172, 172);

@import "_generic";
@import "_chart";
@import "_chart_item";
@import "_barchart";
@import "_taxonomy";
@import "_mangacontainer";
@import "_spoiler";
@import "_screenshots";
@import "_navigation";

@import "_fancy";

