{{- $mangas := newScratch -}}

{{- $categories := (sort $.Site.Data.categories "order" "asc" ) -}}

{{- range $manga := (where $.Site.RegularPages "Section" "manga") -}}
    {{- if $manga.Params.lists.recommend  -}}
        {{- $mangas.Add "total" 1 -}}
        {{- $mangas.SetInMap $manga.Params.lists.recommend $manga.File.ContentBaseName $manga -}}
    {{- else -}}
        {{- $mangas.SetInMap "to_be_added" $manga.File.ContentBaseName $manga -}}
    {{- end -}}
{{- end -}}

{{- $chart_count := $mangas.Get "total" -}}

{{- $bar_height := 20 -}}
{{- $bar_cur_line := 0 -}}
{{- $total_bars := (len $categories) -}}
{{- if .Site.BuildDrafts -}}
    {{- $total_bars = add $total_bars 1 -}}
{{- end -}}
{{- $graph_height := mul $bar_height $total_bars -}}

<svg class="barchart" width="400" height="{{ $graph_height }}" aria-labelledby="title" role="img">
    <title id="title">A barchart showing how many are in each category</title>
    {{- range $key, $cat := $categories -}}
        {{- $items := $mangas.Get $cat.name -}}
        {{- $num_items := (len $items) -}}
        {{- $bar_scale := (mul (div $num_items (float $chart_count)) 500) -}}
        <g class="bar {{.folder}}">
            <rect x="30" width="{{ $bar_scale }}" height="{{ $bar_height }}" y="{{ (mul $bar_height $bar_cur_line) }}"></rect>
            <text y="{{ add (mul $bar_height $bar_cur_line) 10 }}" dy=".35em">{{ .name }}</text>
            <text y="{{ add (mul $bar_height $bar_cur_line) 10 }}" x="{{ add $bar_scale 35 }}" dy=".35em">{{ $num_items }}</text>
        </g>
        {{- $bar_cur_line = add $bar_cur_line 1 -}}
    {{- end -}}

    {{- if .Site.BuildDrafts -}}
        {{- $items := $mangas.Get "to_be_added" -}}
        {{- $num_items := (len $items) -}}
        {{- $bar_scale := (mul (div $num_items (float $chart_count)) 500) -}}
        <g class="bar uncategorized">
            <rect x="30" width="{{ $bar_scale }}" height="{{ $bar_height }}" y="{{ (mul $bar_height $bar_cur_line) }}"></rect>
            <text y="{{ add (mul $bar_height $bar_cur_line) 10 }}" dy=".35em">X</text>
            <text y="{{ add (mul $bar_height $bar_cur_line) 10 }}" x="{{ add $bar_scale 35 }}" dy=".35em">{{ $num_items }}</text>
        </g>
    {{- end -}}
</svg>