{{ $chart_labels := slice }}
{{ $chart_counts := slice }}
{{ $chart_colors := slice }}

{{ $sorted_cat := (sort $.Site.Data.categories "order" "asc") }}

{{ range $key, $categories := $sorted_cat }}
    {{- $items := (index $.Params .folder) -}}
    {{- $num_items := (len $items) -}}

    {{ $chart_labels = $chart_labels | append .name }}
    {{ $chart_counts = $chart_counts | append $num_items }}
    {{ $chart_colors = $chart_colors | append .color }}
{{ end }}

{{ $chart_labels = $chart_labels | jsonify | safeJS }}
{{ $chart_counts = $chart_counts | jsonify | safeJS }}
{{ $chart_colors = $chart_colors | jsonify | safeJS }}

<canvas id="list-chart" class="barchart" width="400" height="140"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script>
    const ctx = document.getElementById('list-chart');

    const chart_labels = {{ $chart_labels }};
    const chart_counts = {{ $chart_counts }};
    const chart_colors = {{ $chart_colors }};

    const data = {
        labels: chart_labels,
        datasets: [
            {
                label: "Total Manga",
                data: chart_counts,
                backgroundColor: chart_colors,
                parsing: {
                    yAxisKey: 'total',
                },
                barPercentage: 0.9,
                categoryPercentage: 1.0,
                datalabels: {
                    color: chart_colors,
                    anchor: "end",
                    align: "end",
                    offset: 10,
                    font: {
                        size: 20,
                    },
                }
            },

        ],
    };

    const config = {
        type: 'bar',
        data,
        options: {
            indexAxis: 'y',
        },
        plugins: [
            ChartDataLabels
        ],
    };

    Chart.defaults.backgroundColor = "#fff";
    Chart.defaults.color = "#fff";

    new Chart(ctx, config);
</script>
  