{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
    {{- $page := . -}}

    <h1>{{.Title}}</h1>

    {{ .Content }}

    <h2>Taxonomies</h2>

    <section class="taxonomy-toggle">
        <input type="radio" name="andor_toggle" id="and_toggle" value="and"><label for="and_toggle">And</label>
        <input type="radio" name="andor_toggle" id="or_toggle" value="or" checked><label for="or_toggle">Or</label>
    </section>

    <section class="taxonomy">
        <div class="term" data-filter-group="statuses">
            <header><a href="{{(.GetPage "/statuses").Permalink}}">Statuses</a></header>
            <ul class="status">
                {{ range .Site.Taxonomies.statuses }}
                    {{- $link := (replace (.Page.Name | lower) " " "_") -}}
                    <li><label title="{{ .Page.Content }}"><input type="checkbox" id="status-{{$link}}" name="status" value=".status-{{$link}}">{{.Page.LinkTitle}} <small>({{.Count}})</small></label></li>
                {{ end }}
                <li><label title="Anything I haven't set data for yet."><input type="checkbox" id="status-unknown" name="status" value=".status-unknown">Unknown</label></li>
            </ul>
        </div>

        <div class="term" data-filter-group="demographics">
            <header><a href="{{(.GetPage "/demographics").Permalink}}">Demographics</a></header>
            <ul class="demographics">
                {{ range .Site.Taxonomies.demographics }}
                    {{- $link := (replace (.Page.Name | lower) " " "_") -}}
                    <li><label title="{{ .Page.Content }}"><input type="checkbox" id="demographic-{{$link}}" name="demographic-{{$link}}" value=".demographic-{{$link}}">{{.Page.LinkTitle}} <small>({{.Count}})</small></label></li>
                {{ end }}
                <li><label title="Anything I haven't set data for yet."><input type="checkbox" id="demographic-unknown" name="demographic-unknown" value=".demographic-unknown">Unknown</label></li>
            </ul>
        </div>

        <div class="term" data-filter-group="furigana">
            <header><a href="{{(.GetPage "/furigana").Permalink}}">Furigana</a></header>
            <ul class="furigana">
                {{ range .Site.Taxonomies.furigana }}
                    {{- $link := (replace (.Page.Name | lower) " " "_") -}}
                    <li><label title="{{ .Page.Content }}"><input type="checkbox" id="furigana-{{$link}}" name="furigana" value=".furigana-{{$link}}">{{.Page.LinkTitle}} <small>({{.Count}})</small></label></li>
                {{ end }}
                <li><label title="Anything I haven't set data for yet."><input type="checkbox" id="furigana-unknown" name="furigana" value=".furigana-unknown">Unknown</label></li>
            </ul>
        </div>

        <div class="term" data-filter-group="languages">
            <header><a href="{{(.GetPage "/languages").Permalink}}">Orig Language</a></header>
            <ul class="languages">
                {{ range .Site.Taxonomies.languages }}
                    {{- $link := (replace (.Page.Name | lower) " " "_") -}}
                    <li><label title="{{ .Page.Content }}"><input type="checkbox" id="language-{{$link}}" name="language-{{$link}}" value=".language-{{$link}}">{{.Page.LinkTitle}} <small>({{.Count}})</small></label></li>
                {{ end }}
                <li><label title="Anything I haven't set data for yet."><input type="checkbox" id="language-unknown" name="language-unknown" value=".language-unknown">Unknown</label></li>
            </ul>
        </div>

        <div class="term" data-filter-group="categories">
            <header><a href="{{(.GetPage "/categories").Permalink}}">Categories</a></header>
            <ul class="categories">
                {{ range .Site.Taxonomies.categories }}
                    {{- $link := (replace (.Page.Name | lower) " " "_") -}}
                    <li><label title="{{ .Page.Content }}"><input type="checkbox" id="category-{{$link}}" name="category-{{$link}}" value=".category-{{$link}}">{{.Page.LinkTitle}} <small>({{.Count}})</small></label></li>
                {{ end }}
                <li><label title="Anything I haven't set data for yet."><input type="checkbox" id="category-unknown" name="category-unknown" value=".category-unknown">Unknown</label></li>
            </ul>
        </div>

        <div class="term" data-filter-group="sources">
            <header><a href="{{(.GetPage "/sources").Permalink}}">Sources</a></header>
            <ul class="sources">
                {{ range .Site.Taxonomies.sources }}
                    {{- $link := (replace (.Page.Name | lower) " " "_") -}}
                    <li><label title="{{ .Page.Content }}"><input type="checkbox" id="source-{{$link}}" name="source-{{$link}}" value=".source-{{$link}}">{{.Page.LinkTitle}} <small>({{.Count}})</small></label></li>
                {{ end }}
                <li><label title="Anything I haven't set data for yet."><input type="checkbox" id="source-unknown" name="source-unknown" value=".source-unknown">Unknown</label></li>
            </ul>
        </div>

        <div class="term" data-filter-group="has">
            <header>Data Filters</header>
            <ul class="status">
                <li><label title="Has a comment/Review"><input type="checkbox" id="has-comment" name="has-comment" value=".has-comment">Has Comment/Review</label></li>
                <li><label title="Missing comment/Review"><input type="checkbox" id="missing-comment" name="has-comment" value=":not(.has-comment)">Missing Comment/Review</label></li>
                <li><label title="Has screenshots"><input type="checkbox" id="has-screenshots" name="has-screenshots" value=".has-screenshots">Has Screenshots</label></li>
                <li><label title="Missing screenshots"><input type="checkbox" id="missing-screenshots" name="has-screenshots" value=":not(.has-screenshots)">Missing Screenshots</label></li>
            </ul>
        </div>

        <div class="term tags" data-filter-group="tags">
            <header><a href="{{(.GetPage "/tags").Permalink}}">Tags</a></header>
            <details>
                <summary>Click here to expand the available tags</summary>
            <ul class="tags">
                {{ range .Site.Taxonomies.tags }}
                    {{- $link := (replace (.Page.Name | lower) " " "_") -}}
                    <li><label title="{{ .Page.Content }}"><input type="checkbox" id="tag-{{$link}}" name="tag-{{$link}}" value=".tag-{{$link}}">{{.Page.LinkTitle}} <small>({{.Count}})</small></label></li>
                {{ end }}
                <li><label title="Anything I haven't set data for yet."><input type="checkbox" id="tag-unknown" name="tag-unknown" value=".tag-unknown">Unknown</label></li>
            </ul>
            </details>
        </div>
    </section>

    {{- $mangas := newScratch -}}

    {{- $categories := (sort $.Site.Data.categories "order" "asc" ) -}}

    {{- range $manga := (where $.Site.RegularPages "Section" "manga") -}}
        {{- if $manga.Params.lists.recommend  -}}
            {{- $mangas.Add "total" 1 -}}
            {{- $mangas.SetInMap $manga.Params.lists.recommend $manga.File.ContentBaseName $manga -}}
        {{- else -}}
            {{- $mangas.SetInMap "to_be_added" $manga.File.ContentBaseName $manga -}}
        {{- end -}}

    {{- end -}}


    <table class="chart">
        <tbody>
        {{ range $cat := $categories }}
            {{ $items := $mangas.Get $cat.name }}
            <tr>
            <th class="{{.folder}}">{{ $cat.name }}<br><small>{{ $cat.comment }}</small><br><small>( {{ if $items }}{{ len $items }}{{ else }}0{{end}} entries)</small></th>
            <td class="items">
                {{ range $key,$manga := $items }}
                    {{ $manga.Render "chart-item" }}
                {{ end }}
            </td>
            </tr>
        {{ end }}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="2">Total number of entries: {{ $mangas.Get "total" }} </td>
            </tr>
        </tfoot>
    </table>

    {{ .Render "barchart" }}

    {{ if .Site.BuildDrafts }}
    <h2>To Be Read/Added ({{ ($mangas.Get "to_be_added") | len }} titles)</h2>
    <div class="items">
        {{ range $mangas.Get "to_be_added" }}
        {{ .Render "chart-item" }}
        {{ end }}
    </div>
    {{ end }}

    {{- $js := resources.Get "js/chart.js" -}}
    <script type="text/javascript" src="{{ $js.Permalink }}"></script>
{{ end }}

{{ define "footer" }}
<p>Uses "list/single.html"</p>
{{ end }}