<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>{{- block "title" . }}{{ .Site.Title }}{{- end }}</title>
    {{ $style := resources.Get "sass/main.scss" | toCSS (dict "outputStyle" "compressed" "enableSourceMap" true ) }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
    {{- block "metadata" . -}}
    <meta property="og:type" content="website" />

    <meta name="title" content="{{ .Title }} &ndash; {{ .Site.Title }}" />
    <meta property="og:title" content="{{ .Title }} &ndash; {{ .Site.Title }}" />
    <meta property="twitter:title" content="{{ .Title }} &ndash; {{ .Site.Title }}" />

    <meta name="description" content="{{ .Summary }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta property="twitter:description" content="{{ .Summary }}" />

    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="twitter:url" content="{{ .Permalink }}" />
    {{- end -}}

    {{- block "metadataimg" . -}}{{- end -}}
    <body>
        {{- partial "header.html" . -}}
        <main id="content">
        {{- block "main" . }}{{- end }}
        </main>
        <footer>
            <p>Page last updated on {{ page.Lastmod.Format "2006-01-02" }}.</p>
        
            {{ if .Site.BuildDrafts }}
            {{ block "footer" . -}}{{- end }}
            {{ end }}

            {{ with .File }}
            <nav>
            <ul>
                <li><a href="https://gitlab.com/xelivous/tier/-/blob/master/content/{{ .Path }}">View on Gitlab</a></li>
                <li><a href="https://gitlab.com/-/ide/project/xelivous/tier/edit/master/-/content/{{ .Path }}">Edit on Gitlab</a></li>
            </ul>
            </nav>
            {{ end }}
        </footer>
    </body>
</html>
