{{ define "main" }}
    <h1 data-count="{{ .Pages.Len }}">{{.Title}}</h1>
  
    <p class="description">
        {{.Content}}
    </p>

    <ul>
    {{ range .Data.Pages }}
        <li>{{ .Render "link" }}</li>
    {{ end }}
    </ul>
{{ end }}

{{ define "footer" }}
<p>Uses "_default/list.html"</p>
{{ end }}