{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

    <h1>{{ .Title }}</h1>
    {{ .Content }}

{{ end }}

{{ define "footer" }}
<p>Uses "_default/single.html"</p>
{{ end }}