{{ define "main" }}
    {{ $manga_pages := where .Site.RegularPages "Section" "manga" }}
    {{ $manga_pages_0 := where $manga_pages "Params.chapters.released" 0 }}
    {{ $manga_pages = where $manga_pages "Params.statuses" "intersect" (slice "ongoing" "hiatus" nil) }}

    <h1>Stale Tracker</h1>

    {{ .Content }}

    <h2>Manga with 0 chapters released</h2>

    <table class="manga sortable">
        <thead>
            {{ partial "manga/table-head.html" . }}
        </thead>
        
        <tbody>
            {{ range $manga := $manga_pages_0.ByLastmod }}
            {{ .Render "table-row" }}
            {{ end }}
        </tbody>
    </table>

    <h2>Manga</h2>

    <table class="manga sortable">
        <thead>
            {{ partial "manga/table-head.html" . }}
        </thead>
        
        <tbody>
            {{ range $manga := $manga_pages.ByLastmod }}
            {{ .Render "table-row" }}
            {{ end }}
        </tbody>
    </table>

    <script src="/js/sorttable.js"></script>
{{ end }}

{{ define "footer" }}
<p>Uses "_default/stale-tracker.html"</p>
{{ end }}