{{ define "main" }}
    <h1 data-count="{{ .Pages.Len }}">{{.Title}}</h1>
  
    <p class="description">
        {{.Content}}
    </p>

    <dl>
    {{ range .Pages }}
        {{ .Render "taxonomy-item" }}
    {{ end }}
    </dl>
{{ end }}

{{ define "footer" }}
<p>Uses "_default/taxonomy.html"</p>
{{ end }}