{{ define "main" }}
    <h1 data-count="{{ .Pages.Len }}">{{.Title}}</h1>
  
    <p class="description">
        {{.Content}}
    </p>

    <ul>
    {{ range .Data.Pages }}
        {{ .Render "term-item" }}
    {{ end }}
    </ul>
{{ end }}

{{ define "footer" }}
<p>Uses "_default/term.html"</p>
{{ end }}