<nav class="main-nav">
    {{ $currentPage := . }}
    {{- range .Site.Menus.main -}}
    <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href=" {{ .Page.Permalink }}" title="{{ .Title }}">{{ .Name }}</a>
    {{- end -}}
</nav>
<nav class="taxonomies-nav">
    <strong>Taxonomies:</strong> 
    {{- $currentPage := . -}}
    {{- range .Site.Menus.taxonomies -}}
    <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "taxonomies" .) ($currentPage.HasMenuCurrent "taxonomies" .) }} active{{end}}" href=" {{ .Page.Permalink }}" title="{{ .Title }}">{{ .Name }}</a>
    {{- end }}
</nav>