{{- $class := newScratch -}}
{{- $class.Add "class" (slice "chart-item ") -}}

{{- range $key,$data := $.Site.Data.taxonomies -}}
    {{- range ($.GetTerms $key) -}} 
        {{- $class.Add "class" (printf "%s-%s" $data.singular (replace (.Name | lower) " " "_")) -}}
    {{- else -}} 
        {{- $class.Add "class" (printf "%s-unknown" $data.singular) -}}
    {{- end -}}
{{- end -}}

{{- if .Content -}}
{{- $class.Add "class" "has-comment" -}}
{{- end -}}

{{- if (.Resources.Match "screenshots/*") -}}
{{- $class.Add "class" "has-screenshots" -}}
{{- end -}}

<div class="{{- delimit ($class.Get "class") " " -}}">
    <div class="main" title="{{- .Summary -}}">
        {{- .Render "cover" -}}
        <div class="name">{{ .Render "link" }}</div>
        <div class="status">Status: {{- range (.GetTerms "statuses") -}}<a href="{{- .Permalink -}}">{{- .LinkTitle -}}</a> {{- end -}}</div>
        <div class="status">Demographic: {{- range (.GetTerms "demographics") -}}<a href="{{- .Permalink -}}">{{- .LinkTitle -}}</a> {{- end -}}</div>
        <div class="urls">{{- .Render "links" -}}</div>
        <div class="icons">
            {{- if .Content -}}
            {{ $img :=  resources.Get "icons/feather/book-open.svg" }}
            <img src="{{$img.Permalink}}" alt="Has a Comment/Review" title="Has a Comment/Review">
            {{- end -}}

            {{- if (.Resources.Match "screenshots/*") -}}
            {{ $img :=  resources.Get "icons/feather/camera.svg" }}
            <img src="{{$img.Permalink}}" alt="Has screenshots" title="Has screenshots">
            {{- end -}}
        </div>
        {{- if .Site.BuildDrafts -}}
        <div>{{- if .Draft -}}DRAFT{{- end -}}</div>
        {{- end -}}
    </div>
</div>