{{ define "main" }}
    <h1>{{.Title}}</h1>

    <p class="description">
        {{ .Content }}
    </p>

    <table class="manga sortable">
        <thead>
            {{ partial "manga/table-head.html" . }}
        </thead>
        
        <tbody>
            {{ range .Data.Pages }}
            {{ .Render "table-row" }}
            {{ end }}
        </tbody>
    </table>

    <script src="/js/sorttable.js"></script>
{{ end }}

{{ define "footer" }}
<p>Uses "manga/list.html"</p>
{{ end }}