{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "metadata" }}
<meta property="og:type" content="website" />

<meta name="title" content="{{ .Render "furigana-title" }}" />
<meta property="og:title" content="{{ .Render "furigana-title" }}" />
<meta property="twitter:title" content="{{ .Render "furigana-title" }}" />

<meta name="description" content="{{ .Summary }}" />
<meta property="og:description" content="{{ .Summary }}" />
<meta property="twitter:description" content="{{ .Summary }}" />

<meta property="og:url" content="{{ .Permalink }}" />
<meta property="twitter:url" content="{{ .Permalink }}" />

{{ $color := partial "tier-color" .Params.lists.recommend }}
<meta name="theme-color" content="{{ $color }}">
{{ end }}

{{ define "metadataimg" }}
{{- with $img := .Resources.GetMatch "cover.*" -}}
{{- $thumb := $img.Resize "x300" -}}
<meta property="og:image" content="{{$thumb.Permalink}}" />
<meta property="twitter:image" content="{{$thumb.Permalink}}" />

<!--<meta property="twitter:card" content="summary_large_image" />-->
{{ end }}
{{ end }}

{{ define "main" }}
    {{- $released_chapters := .Params.Chapters.Released | default "Unknown" -}}
    {{- $lastmod := .Lastmod | time.Format "2006-01-02" | default "Unknown" -}}

    <h1>{{ .Render "furigana-title" }}</h1>

    <div class="manga-container">
        <div class="cover">
            {{ .Render "cover" }}
            {{- with $img := .Resources.GetMatch "cover.*" -}}<br><a href="{{.}}">full size cover</a>{{end}}
        </div>
        <div class="info">
            <table>
                <tr>
                    <th>Status</th>
                    <td><ul>
                        {{ range (.GetTerms "statuses") }}
                        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                        {{ else }}
                        <li>Unknown</li>
                        {{ end }}
                    </ul></td>
                </tr>

                <tr>
                    <th>Released Chapters</th>
                    <td class="chapters" data-count="{{ $released_chapters }}">{{ $released_chapters }}</td>
                </tr>

                <tr>
                    <th>Schedule</th>
                    <td><ul>
                        {{ range (.GetTerms "schedules") }}
                        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                        {{ else }}
                        <li>Unknown</li>
                        {{ end }}
                    </ul></td>
                </tr>

                <tr>
                    <th>Last Checked</th>
                    <td class="last_checked"><time datetime="{{ $lastmod }}">{{ $lastmod }}</time></td>
                </tr>

                <tr>
                    <th>Categories</th>
                    <td><ul>
                        {{ range (.GetTerms "categories") }}
                        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                        {{ else }}
                        <li>Unknown</li>
                        {{ end }}
                    </ul></td>
                </tr>

                <tr>
                    <th>Tags</th>
                    <td><ul>
                        {{ range (.GetTerms "tags") }}
                        <li class="tag">{{ .Render "link" }}</li>
                        {{ else }}
                        <li>Unknown</li>
                        {{ end }}
                    </ul></td>
                </tr>

                <tr>
                    <th>Demographics</th>
                    <td><ul>
                        {{ range (.GetTerms "demographics") }}
                        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                        {{ else }}
                        <li>Unknown</li>
                        {{ end }}
                    </ul></td>
                </tr>

                <tr>
                    <th>Furigana</th>
                    <td><ul>
                        {{ range (.GetTerms "furigana") }}
                        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                        {{ else }}
                        <li>Unknown</li>
                        {{ end }}
                    </ul></td>
                </tr>

                <tr>
                    <th>External Links</th>
                    <td><ul>
                        {{ range $key,$value := .Params.links }}
                        <li><a href="{{$value}}">{{upper $key}}</a></li>
                        {{ else }}
                        <li>Unknown</li>
                        {{ end }}
                    </ul></td>
                </tr>
            </table>
        </div>
    </div>

    

    <div class="content">
        <h2>Description / Comments</h2>
       {{ .Content }}
    </div>

    <h2>In The Following Lists</h2>
    <ul>
        {{ with .Params.lists.recommend }}
        {{ $recommend_page := site.GetPage "/list/recommendability" }}
        <li><a href="{{- $recommend_page.Permalink -}}">Recommendability:</a> {{ . }}</li>
        {{ else }}
        <li>Unknown</li>
        {{ end }}
        
    </ul>

    <h2>Screenshots</h2>
    <div class="screenshot-gallery">
    {{- range $screenshots := sort (.Resources.Match "screenshots/*") -}}
        {{- $thumb := .Resize "x300" -}}
        <figure>
        <a href="{{ .Permalink }}"><img src="{{ $thumb.Permalink }}" alt="{{.Name}}" class="screenshot"></a>
        <figcaption>{{ replace .Name "screenshots/" "" }}</figcaption>
        </figure>
    {{ else }}
    <p>No screenshots!</p>
    {{ end }}
    </div>

    {{ $related := .Site.RegularPages.Related . | first 10 }}

    {{ with $related }}
    <h2>See Also</h2>
    <div class="items">
        {{ range . }}
        {{ .Render "chart-item" }}
        {{ end }}
    </div>
    {{ end }}

{{ end }}

{{ define "footer" }}
<p>Uses "manga/single.html"</p>
{{ end }}