{{- $classes := slice -}}
{{- if .Draft -}}{{ $classes = $classes | append "Draft"}}{{- end -}}
{{- range (.GetTerms "statuses") -}}{{ $classes = $classes | append .LinkTitle }}{{- end -}}

<tr class="manga {{ if .Draft }}draft{{ end }}">
    <td class="text title">{{ .Render "link" }}</td>
    <td class="text cover">{{- with .Resources.GetMatch "cover.*" -}}<a href="{{.Permalink}}">cover</a>{{else}}N/A{{end}}</td>
    <td class="number words">{{ .WordCount }}</td>
    <td class="date lastmod"><time datetime="{{ .Lastmod | time.Format "2006-01-02" }}">{{ .Lastmod | time.Format "2006-01-02" }}</time></td>
    <td class="number chapters">{{ .Params.chapters.released | default 0 }}</td>
    <td class="text schedule">{{- range (.GetTerms "schedules") -}}<a href="{{- .Permalink -}}">{{- .LinkTitle -}}</a><br>{{- else -}}Unknown{{- end -}}</td>
    <td class="text categories">{{- range (.GetTerms "categories") -}}<a href="{{- .Permalink -}}">{{- .LinkTitle -}}</a><br>{{- else -}}Unknown{{- end -}}</td>
    <td class="text status">{{- range (.GetTerms "statuses") -}}<a href="{{- .Permalink -}}">{{- .LinkTitle -}}</a><br>{{- else -}}Unknown{{- end -}}</td>
    <td class="text links">{{ .Render "links" }}</td>
    <td class="bool draft"><input type="checkbox" {{ if .Draft }}checked{{ end }} disabled></td>
    <td class="text lists">{{ with .Params.lists.recommend }}
        {{ $recommend_page := site.GetPage "/list/recommendability" }}
        <a href="{{- $recommend_page.Permalink -}}">{{ . }}</a><br>
        {{ else }}
        Unknown
        {{ end }}</td>
</tr>