<tr>
    <th class="text title">Title</th>
    <th class="text cover">Cover</th>
    <th class="number wordcount">Words</th>
    <th class="date lastmod">Last Mod</th>
    <th class="number chapters">Chapters</th>
    <th class="text schedule">Schedule</th>
    <th class="text categories">Categories</th>
    <th class="text status">Status</th>
    <th class="text links">Links</th>
    <th class="bool draft">Draft</th>
    <th class="text lists">Lists</th>
</tr>